

.button1 button {
  border: 1px solid black;
  padding: 5px 7px;
  user-select: none;
  background: transparent;
  color: inherit;
}

.footer-links {
  display: none;
}

.button2 button {
  padding: 0px 15px;
}

.button2 button:hover {
  background-color: #dcdcdc;
}

.research-panel .cost span {
  margin-right: 5px;
}

.research1 button {
  cursor: pointer;
}

.background1 {
  background-color: #CECECE;
}

.background2 {
  background-color: #2626FF;
  color: #FFFF00;
}
.background2 a, .background2 a:hover {
  color: #007bdd;
}
.background2 a:visited {
  color: #007bff;
}

.background3 {
  background-image: url(../img/bg0009.gif) ;
  color: #dcdcdc;

}

.background3  .footer-links {
  display: block;
}

.background3  hr {
  background-color: #FFF;
}

.font1 {
  font-family:times;
}
.font2 {
  font-family: Comic Sans MS, Comic Sans;
}

.text-shadows h1 {
  text-shadow: 2px 2px red;
}

.header {
  min-height: 150px;
}

#info {
  margin-top: 30px;
}

.phase {
  padding: 5px 15px;
  margin-top: 15px;
  display: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    min-height: 230px;
    margin-bottom: 5px;
}

.counter .title {
  margin-right: 5px;
  padding: 5px 0px;
  vertical-align: middle;
}

.WOMOption {
  margin-bottom: 5px;
}
.prehistoric a {
  color: #00F;
  text-decoration: underline;
}

blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
  animation: 2s linear infinite condemned_blink_effect;
  display: block;
  margin: 5px;
}
@-webkit-keyframes condemned_blink_effect { // for android
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
